# Python virtual environment
backend/venv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Environment files
.env

# Logs
*.log